extends layout.pug

block content
    //- Page Title 
    h1 City Data
    
        //- Search Form
        form(action='/cities' method='get')
            input#searchInput(type='text' name='cityName' placeholder='Search cities...')
            //- button(type='submit') Search
    
    //- City Header
    table
        thead
            tr
                th Sl/No  
                th Name
                th Country
                th District
                th Population
        
        //- City Table Data
        tbody
            //- Initialize a counter for the serial number
            - var counter = 0
            //- Loop through cities
            each city in cities
                - counter++
                tr
                    td= counter
                    td= city.Name  
                    td= city.CountryName 
                    td= city.District
                    td= city.Population.toLocaleString() 