extends layout.pug

block content
    
    //- Page Title 
    h1 Country Data
        
        //- Search Form
        form(action='/countries' method='get')
            input#searchInput(type='text' name='countryName' placeholder='Search countries...')
            //- button(type='submit') Search
    
    //- Country Header
    table
        thead
            tr  
                th Code
                th Name
                th Continent
                th Region
                th Capital
                th Population
        
        //- Country Table Data
        tbody
            //- Loop through countries
            each country in countries
                tr
                    td= country.Code  
                    td= country.Name
                    td= country.Continent
                    td= country.Region
                    td= country.CapitalName
                    td= country.Population
    

