extends ../layouts/layout.pug

block content
    //- Add Language Page
    body.register-bg
        p.introduction(style="margin-top: 18rem;") Add New Language

        //- Add Language Form        
        form(action="/add-language", method="POST").contact-form-container
            label(for="countryCode") Country Code
            input(type="text", name="countryCode", id="countryCode", required=true)

            label(for="language") Language
            input(type="text", name="language", id="language", required=true)

            .dropdown-container
                label(for="isOfficial" style="margin-right: 2.5rem;") Is Official
                select(name="isOfficial", id="isOfficial", required=true)
                    option(value="T") Yes
                    option(value="F") No

            label(for="percentage") Percentage
            input(type="number", name="percentage", id="percentage", step="0.01", required=true)

            //- Display error messages
            if messages && messages.error
                .alert= messages.error           
            
            .button-container
                button(type="submit").btn.btn-primary Submit

            //- Skip this step link and redirect to the Home page
            .link-container
                a(href="/").btn-link Skip this step