extends ../layouts/layout.pug
include ../formTemplate.pug

block content
    //- City Data page
    body.city-bg
    .header-container
        h1.header-title City Data

    //- City search form   
    +form('/cities','cityName', 'Search cities...')
    
    table
        //- City table header
        thead
            tr
                th Sl/No  
                th Name
                th Country
                th District
                th Population
        
        //- City Table Data
        tbody
            //- Loop through cities
            - var counter = 0
            each city in cities
                - counter++
                tr
                    td= counter
                    td= city.Name  
                    td= city.CountryName 
                    td= city.District
                    td= city.Population.toLocaleString() 

    //- Scroll-to-Top Button
    button#scrollToTopButton

    //- Scroll-to-Bottom Button
    button#scrollToBottomButton

    //- JS Scripts
    script(src="/clientSide/scroll.js")
    script(src="/clientSide/formSetup.js")

