extends ../layouts/layout.pug
include ../formTemplate.pug

block content
    body.city-bg
    .header-container
        h1.header-title City Data

    // Use specific city form
    +cityForm('/cities','cityName', 'Search cities...')
    
    table
        thead
            tr
                th Sl/No  
                th Name
                th Country
                th District
                th Population
        
        tbody
            - var counter = 0
            each city in cities
                - counter++
                tr
                    td= counter
                    td= city.Name  
                    td= city.CountryName 
                    td= city.District
                    td= city.Population.toLocaleString() 

    // Additional UI components
    button#scrollToTopButton
    button#scrollToBottomButton
    script(src="/clientSide/scroll.js")
    script(src="/clientSide/formSetup.js")
