extends ../layouts/layout.pug
include ../formTemplate.pug

block content
    //- Country Data page
    body.country-bg    
    .header-container
        h1.header-title Country Data

    //- Country search form      
    +form('/countries','countryName', 'Search countries...')

    table
        //- Country table header
        thead
            tr
                th Code
                th Name
                th Continent
                th Region
                th Capital
                th Population
        
        //- Country Table Data
        tbody
            //- Loop through countries
            each country in countries
                tr
                    td= country.Code  
                    td= country.Name
                    td= country.Continent
                    td= country.Region
                    td= country.CapitalName
                    td= country.Population

    //- Scroll-to-Top Button
    button#scrollToTopButton

    //- Scroll-to-Bottom Button
    button#scrollToBottomButton

    //- JS Scripts
    script(src="/clientSide/scroll.js")
    script(src="/clientSide/formSetup.js")
