extends ../layouts/layout.pug

//- Define the main content block where page-specific content will go.
block content
    body.population-bg

    //-Container for the page header and header title
    .header-container
        h1.header-title Population Report

    //- Section for the form that allows users to filter the population data.
    .form-section
        form(action='/populations' method='get')
            select#viewBySelect(name='viewBy')
                option(value='Continent' selected=viewBy==='Continent') By Continent
                option(value='Country' selected=viewBy==='Country') By Country
                option(value='Region' selected=viewBy==='Region') By Region
            button(type='submit') Apply

    //-Section that contains the table for displaying population data.
    .table-section
        table
            thead
                tr
                    th Name
                    th Total Population
                    th Population Living in Cities
                    th Population Not Living in Cities
            tbody
                each report, index in reports
                    tr
                        td= report.Name
                        td= report.TotalPopulation
                        td= report.CityPopulation
                        td= report.NonCityPopulation
